service: grpc-lambda-client
frameworkVersion: '2'

provider:
  name: aws
  runtime: java11
  environment:
    QUEUE_NAME: TriggerQueue
    SQS_URL:
      Ref: MyQueue
  iamRoleStatements:
    - Effect: Allow
      Action:
        - sqs:SendMessage
        - sqs:SendMessageBatch
        - sqs:ChangeMessageVisibility
        - sqs:DeleteMessage
        - sqs:GetQueueAttributes
        - sqs:ReceiveMessage
      Resource:
        Fn::GetAtt:
          - MyQueue
          - Arn

package:
  artifact: target/grpc-lambda-client.jar

functions:
  starter:
    handler: demo.Starter
    reservedConcurrency: 1
    timeout: 30
    environment:
      MESSAGE_COUNT: "100"
  sender:
    handler: demo.Sender
    reservedConcurrency: 10
    timeout: 30
    environment:
      GRPC_SERVER_ADDRESS: "dns:///54.71.125.171:9099"
      PARALLELIZATION_COUNT: "1"
      EXECUTION_DURATION: "300000"
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - MyQueue
              - Arn
          batchSize: 1

resources:
  Resources:
    MyQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:provider.environment.QUEUE_NAME}
        VisibilityTimeout: 60
